
.card-container {
    display: grid;
    grid-template-rows:2fr 1fr;
    position: relative;
    align-items: center;
    padding: 20px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    padding: 60px;
    border: 2px solid #cccccc;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  
  .text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px; 
    color: #888888;
    margin: 0;
  }
  
  .hashtags {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .hashtag {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    color: #427742; 
    margin-right: 10px; 
  }

  .card-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .popup-button{
    margin-left: 0;
    margin-right: auto;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    color: #333333;
    z-index: 1; 
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    padding: 2px 24px 8px;
  }
  
  .refresh-button {
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    color: #333333;
    z-index: 1; 
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    padding: 2px 24px 8px;
  }

.refresh-button:hover {
  background: #F6F9FE;
}

.refresh-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

  .buttonIcon{
    max-height: 20px;
  }

  